.browse {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: grey;
}

.browse-nav {
  background-color: black;
  text-align: center;
  width: 230px;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.browse-nav span {
  float: right;
  font-size: 28px;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-right: 15px;
}

.general-pages {
  position: absolute;
  height: 100px;
  top: 90px;
  display: inline-grid;
  left: 0;
  text-align: left;
  padding: 0px 24px 0px 24px;
}
//
.auth {
  position: fixed;
  bottom: 120px;
  display: inline-grid;
  left: 0;
  text-align: left;
  color: white;
  padding: 0px 24px 0px 24px;
}

.logo {
  left: 0;
  display: inline;
  width: 40px;
  height: 40px;
  padding: 20px;
  position: absolute;
}

.browse-body {
  text-align: center;
  color: white;
  right: 0;
  background-image: linear-gradient(to bottom right, darkblue, pink);
  width: 85%;
  height: 90%;
  position: fixed;
  z-index: 0;
}

.browse-body header {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 30px;
}

.browse-body span {
  padding: 20px;
}

.player {
  width: 100%;
  height: 90px;
  bottom: 0;
  color: white;
  position: fixed;
  overflow: hidden;
  background-color: #282828;
  z-index: 2;
}

.player img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  padding: 30px 2px 2px 2px;
}
