.browse-body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: lightgrey;
  text-align: center;
  right: 0;
  background-image: linear-gradient(to bottom right, darkblue, pink);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}

.browse-body header {
  margin-left: 230px;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 30px;
}

.browse-body span {
  padding: 20px;
}
