.browse-body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  color: lightgrey;
  right: 0;
  background-image: linear-gradient(to bottom right, darkblue, pink);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}

.browse-body header {
  margin-left: 230px;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 30px;
}

.browse-body span {
  padding: 20px;
}

.browse-body span:hover {
  color: white;
}

.selected {
  color: white;
}

.selected:after {
     background: none repeat scroll 0 0 #1ed760;
     top: 48px;
     margin-left: -62.5px;
     content: "";
     position: absolute;
     height: 1px;

     width: 30px;
 }
