.login-form-div {
  display: inline-block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  // font-weight: 100;
  margin: 0 auto;
  width: 100%;
}

.login-form-div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
  padding: 20px;
}

.green-link {
  color: #1DB954;
}

.login-form {
  // outline: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-top: 1px solid lightgrey;
  font-weight: bold;
}

.login-form:after {
  border-bottom: 1px solid lightgrey;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  content: '';
  display: block;
  width: 50%;
}

.login-input {
  margin-top: 20px;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  width: 30%;
  padding: 10px;
  outline: 1px solid lightgrey;
  font-weight: normal;
}

.session-submit {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: #1DB954;
  border: #1DB954;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 40px;
  color: white;
  transition: .5s;
  outline: none;
}
