.login-form-div {
  display: inline-block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  margin: 0 auto;
  width: 100%;
}

.login-form-div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
  padding: 20px;
}

.bold-text {
  font-size: 18px;
  font-weight: 900;
}

.green-link {
  color: #1DB954;
}

.green-link:hover {
  color: #1ed760;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-top: 1px solid lightgrey;
  font-weight: bold;
}

.login-form:after {
  border-bottom: 1px solid lightgrey;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  content: '';
  display: block;
  padding: 10px;
  width: 30%;
}

.login-input {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  width: 30%;
  padding: 10px;
  outline: 1px solid lightgrey;
  font-weight: normal;
  transition: .1s;
}

.login-input:focus {
  padding: 12px;
  margin-top: -2px;
  margin-bottom: 18px;
  outline: 1px solid #1ed760;
}

.session-submit {
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: #1db954;
  border: 2px solid #1DB954;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 40px;
  color: white;
  transition: .1s;
  outline: none;
}

.session-submit:hover {
  background-color: #1ed760;
  border: 2px solid #1ed760;
}

.not-green-button {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 2.5px;
  border: 2px solid #606060;
  padding: 15px;
  padding-left: 8.25%;
  padding-right: 8.25%;
  border-radius: 40px;
  transition: .1s;
  color: grey;
}

.not-green-button:hover {
  background-color: #606060;
  color: white;
}

.guest-button {
  text-transform: uppercase;
  text-align: center;

  margin-top: 20px;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 2.5px;
  padding: 15px;
  width: 30%;
  border-radius: 40px;
  transition: .1s;
  background-color: #3b5998;
  border: 2px solid #3b5998;
  color: white;
}

.guest-button:hover {
  background-color: #006AE3;
  border: 2px solid #006AE3;
}

.error {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 10px;
  width: 30%;
  color: white;
  background-color: orange;
  font-size: 11.5px;
  letter-spacing: 0.75px;
  font-weight: bold;
  font-weight: normal;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hr-line {
  display: flex;
  letter-spacing: 1px;
  width: 31.5%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #ccc;

}

.or-separator{
  color: black;
  font-size: 11px;
  padding-left: 10px;
  padding-right: 10px;
}
