.album-content {
  margin-left: 80px;
  margin-right: -200px;
}

.album-content img {
  width: 300px;
  height: 300px;
}

.fit-songs {
  width: 100%;
}

.title {
  margin: 10px 0px 5px 0px;
  font-size: 28px;
  color: white;
  font-weight: bold;
  word-wrap: break-word;
  width: 300px;
}

.songs {
  margin-left: 260px;
  position: relative;
  font-weight: normal;
  margin-right: 30px;
  text-align: left;
  margin-bottom: 120px;
  vertical-align: middle;
}

.one-song {
  padding: 10px 20px 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.one-song:hover {
  background: linear-gradient(to right, #0f1635, rgba(0,0,255,0));
}


.song-item {
  text-align: left;
  display: flex;
  font-family: 'proxima-nova', sans-serif;
  font-style: bold;
  font-size: 22px;
  color: white;
  z-index: 0;
  position: relative;
  justify-content: space-between;
}

.left div{
  font-size: 18px;
  padding-top: 10px;
  color: #fff;
  opacity: .6;
}

.music-icon {
  width: 20px;
  height: 20px;
  background: url("https://s3-us-west-1.amazonaws.com/clone-ify-public/misc/grey-note.png") no-repeat;
  background-size: 12px;
  display: inline-block;
  margin-top: 15px;
  padding: 5px;
}

.one-song:hover .music-icon, .one-song.hover .music-icon {
  width: 20px;
  height: 20px;
  background: url("https://s3-us-west-1.amazonaws.com/clone-ify-public/misc/play-arrow-gray.png") no-repeat;
  background-size: 12px;
  display: inline-block;
  margin-top: 15px;
  padding: 5px;
}

.albums {
  left: 350px;
  position: relative;

  margin-right: 120px;
  display: flex;
  flex: wrap;
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  letter-spacing: 0.5px;
  // left: 300px;
  // top: 75px;
  color: white;
  z-index: 5;
  position: relative;
  width: 500px;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.album-item img {
  width: 220px;
  padding-bottom: 5px
}

.album-item {
  display: inline-table;
  padding: 10px;
  margin-bottom: 50px;
}

.dot-button {
  opacity: 0;
  width: 18px;
  height: 18px;
  background: url("https://s3-us-west-1.amazonaws.com/clone-ify-public/misc/white-three-dot.png") no-repeat;
  background-size: 18px;
  display: inline-block;
  position: fixed;
  margin-top: 15px;
  padding: 5px;
}

.album-item div {
  font-size: 14px;
  margin: 10px 0px 10px 0px;
}

.maker {
  opacity: .6;
  font-weight: normal;
  word-wrap: break-word;
}


.one-song:hover .dot-button, .one-song.hover .dot-button {
  opacity: 1;
}

// .right {
//   display: flex;
//   position: relative;
// }
//
// .right label {
//   position:relative;
//   display:block;
//   padding:0 18px 0 12px;
//   line-height:3em;
//
//   cursor:pointer;
// }
//
// .right input:checked ~ label:after{
//   border-top:0 solid rgba(255,255,255,.5);
//   border-bottom:4px solid rgba(255,255,255,.5);
//   transition:border-top .1s, border-bottom .1s .1s;
// }
//
// /*hide the inputs*/
// .right input{display:none}
//
// /*show the second levele menu of the selected voice*/
// .right input:checked ~ ul.submenu{
//   max-height:300px;
//   // transition:max-height 0.1s ease-in;
// }
//
// /*style for the second level menu*/
// .right ul.submenu{
//   font-size: 15px;
//   max-height: 0;
//   padding: 0px;
//   overflow: hidden;
//   list-style-type: none;
//   background: #363636;
//   box-shadow: 0 0 1px rgba(0,0,0,.3);
//   // transition: max-height 0.1s ease-out;
//   position: absolute;
//   right: 75px;
//   top: 25px;
//   min-width: 100%;
//   border-radius: 5px;
//   z-index: 5;
// }
//
// .right ul.submenu li a{
//   display:block;
//   margin: 5px 0px 5px 0px;
//   padding: 10px 15px 10px 15px;
//   color:#ddd;
//   text-decoration:none;
//   // box-shadow:0 -1px rgba(0,0,0,.5) inset;
//   // transition: background .1s;
//   white-space:nowrap;
// }
//
// .right ul.submenu li a:hover{
//   background: #444444;
//   color: white
// }
.right {
  display: flex;
  position: relative;
}
.submenu-false {
  display: none;
}

.submenu-true {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  overflow: hidden;
  list-style-type: none;
  background: #363636;
  box-shadow: 0 0 1px rgba(0,0,0,.3);
  position: absolute;
  top:25px;
  right:90px;
  border-radius: 5px;
  z-index: 5;
}

.right ul.submenu-true li a{
  display:block;
  margin: 5px 0px 5px 0px;
  padding: 10px 15px 10px 15px;
  color:#ddd;
  text-decoration:none;
  // box-shadow:0 -1px rgba(0,0,0,.5) inset;
  // transition: background .1s;
  white-space:nowrap;
}

.right ul.submenu-true li button{
  display:block;
  margin: 5px 0px 5px 0px;
  padding: 10px 15px 10px 15px;
  color:#ddd;
  text-decoration:none;
  // box-shadow:0 -1px rgba(0,0,0,.5) inset;
  // transition: background .1s;
  white-space:nowrap;
}

.right ul.submenu-true li a:hover{
  background: #444444;
  color: white
}

.right ul.submenu-true li button:hover{
  background: #444444;
  color: white
}

.duration {
  font-size: 22px;
  padding-left: 60px;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 10px;
}
