.playlist-form {
  font-family: 'proxima-nova', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  // padding: 0 20%;
}

.x-btn {
  text-align: center;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  font-weight: 100;
  color: white;
  margin-bottom: 30px;
  transition: all 1s ease-in-out 0s;
}

.button-strip {
  background-color: transparent;

}

.button-strip:hover {
  background-color: transparent;
}

.x-btn:hover {
  font-size: 45px;
  font-weight: bold;
  cursor: default;
    transform: rotate(360deg);
    transition: all 1s ease-in-out 0s;
}

.input-box-input {
  width: 100%;
  height: 73px;
  font-size: 50px;
  margin-top: 10px;
  font-weight: bold;
  color: white;
  caret-color: rgb(0, 197, 85);
}

.playlist-form-header {
  width: 457px;
  height: 56px;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 48px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  font-weight: bold;
}

.input-box-label {
  font-size: 13px;
  color: white;
  margin-top: 30px;
  margin-bottom: -5px;
}

.playlist-name-field {
  width: 100%;
  height: 147px;
  background-color: rgb(40, 40, 40);
  padding: 0 20%;
  margin-bottom: 20px;
}

.playlist-btns {
  width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  height: 39px;
  font-size: 12px;
  font-weight: 100;
  button {
    // width: 50%;
    padding: 13px 0px 28px 0px;
    display: inline-block;
    margin: 0px 10px 0px 10px;
    font-weight: 400;
  }
}

.playlist-song-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25%;
}

.user-playlists {
  justify-content: center;
}

.create-playlist-btn {
  transition: 0.2s;
}

.create-playlist-btn:hover {
  color: #e023ca;
  background-color: white;
  transition: 0.2s;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-bar header {
  margin-left: 35%;
  margin-right: auto;
}

.right-menu-space {
  margin-right: 30px;
  width: 160px;
}

.right-menu-space button {
  padding: 8px;
}

.right-menu-space button:hover {
  margin-top: 20px;
  margin-left: -8px;
}

.green-button {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  width: 90%;
  font-size: 11px;
  text-decoration: none;
  letter-spacing: 2.5px;
  background-color: #1db954;
  border: 2px solid #1DB954;
  // padding: 15px;
  // padding-left: 50px;
  // padding-right: 50px;
  border-radius: 40px;
  color: white;
  transition: .1s;
  outline: none;
}

.green-button:hover {
  font-size: 12px;
  background-color: #1ed760;
  border: 2px solid #1ed760;
  width: 100%;
  margin: 0px 1px 0px 1px;
}